.btn {
  padding: 8px 8px;
  margin: 4px 0;
  font-size: 16px;

  outline: none;
  border-radius: 7px;
  border: 1px solid $gray-3d;

  opacity: .8;
  transition: opacity .1s linear;

  &:hover {
    opacity: 1;
  }
}

.btn-res {
  width: 17%;
  background-color: $white-d3;
}

.btn-nav {
  padding: 8px 7%;
  color: $black;
  background-color: $white-d3;
  text-decoration: none;
}