<div th:fragment="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                <p>Developed by a student of TR-11 group Danilo Bilyi</p>
                <p>Copyright © 2023</p>
            </div>
            <nav class="footer__nav">
                <a class="nav__item" href="tel: +380501617144">mob: +380501617144</a>
                <a class="nav__item" href="mailto: danil22344bel@gmail.com">email: danil22344bel@gmail.com</a>
                <a class="nav__item" href="https://t.me/DanlLKeK" target="_blank">Telegram: @DanlLKeK</a>
            </nav>
        </div>
    </div>
</div>